* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
}

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 110px;
  height: 100vh;
  padding: 0 1.7rem;
  color: #defcf9;
  overflow: hidden;
  transition: all 0.5s linear;
  background: rgba(127, 17, 224, 1);
}

.sidebar:hover {
  width: 240px;
  transition: 0.5s;
}

.logo {
  height: 80px;
  padding: 16px;
}

.menu {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.menu li:hover,
.active {
  background: #e0e0e058;
}

.menu a {
  color: #defcf9;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.menu a span {
  overflow: hidden;
}

.menu a i {
  font-size: 1.2rem;
}

.logout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/**** MAIN BODY ****/

.main-content {
  position: relative;
  background: #ebe9e9;
  width: 100%;
  padding: 1rem;
}

.header-wrapper img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: white;
  border-radius: 10px;
  padding: 10px 2rem;
  margin-bottom: 1rem;
}

.header-title {
  color: rgba(127, 17, 224, 1);
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.search {
  background: rgb(237, 237, 237);
  border-radius: 15px;
  color: rgba(127, 17, 224, 1);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px 12px;
}

.search input {
  background: transparent !important;
  padding: 10px;
}

.search i {
  font-size: 1.2rem;
  cursor: pointer !important;
  transition: all 0.5s ease-out;
}

.search i:hover {
  transform: scale(1.2);
}

.main-title {
  margin-bottom: 8px;
}

.tabel-wrapper {
  background: white;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 2rem;
}

.tabel-container {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse !important;
}

thead {
  background: rgba(127, 17, 224, 1);
  color: white;
}

th {
  padding: 15px;
  text-align: left;
}

tbody {
  background: #f2f2f2;
}

td {
  padding: 15px;
  font-size: 14px;
  color: #333;
}

tr:nth-child(even) {
  background: whitesmoke;
}

tfoot {
  background: rgba(127, 17, 224, 1);
  font-weight: bold !important;
  color: whitesmoke;
}

tfoot td {
  padding: 15px;
  color: white !important;
}

.edit-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #45a049;
}

.remove-button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-button:hover {
  background-color: #f44336;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.move-button {
  background-color: #3366ff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 14px;
  margin-top: 8px;
}

.move-button:hover {
  background-color: #2554b3;
}

@media screen and (max-width: 600px) {
  .button-container {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
}

/**** INPUT DATA ****/
.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

textarea {
  resize: vertical;
}

.status {
  display: inline-block;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.status-complete {
  background-color: #4caf50;
  color: white;
}

.status-pending {
  background-color: #ff9800;
  color: white;
}

.status-processing {
  background-color: #2196f3;
  color: white;
}

.status-rejected {
  background-color: #f44336;
  color: white;
}

.status:hover {
  opacity: 0.8;
}
